.contact-section {       
  justify-content: center;    
  padding: 4rem 2rem;         
  background: #c8e4ee;
  box-sizing: border-box;
  width: 1920px;
  width: 100%;
}

.contact-section h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #e52e71;
  font-size: 2rem;
}

.contact-form {
  width: 1200px;                  
  margin: 0 auto;          
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-sizing: border-box;
}

.contact-form .row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;          
}

.contact-form .row label {
  flex: 1 1 45%;           
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.contact-form label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.contact-form input,
.contact-form textarea {
  width: 100%;              
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-top: 0.3rem;
  box-sizing: border-box;
  resize: vertical;
}

.contact-form button {
  padding: 0.8rem 1.5rem;
  background: linear-gradient(135deg, #ff8a00, #e52e71);
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: transform 0.4s ease;
  align-self: center;      
}

.contact-form button:hover {
  transform: scale(1.05);
}

.name {
  color: black;
  text-align: left;
}

.required {
  color: red;
  margin-left: 2px;
}

.success-msg {
  text-align: center;
  color: green;
  margin-bottom: 1rem;
}

@media (max-width: 1280px) {
  .contact-form {
    width: 1000px; 
    margin: 0 auto;
  }
}

@media (max-width: 1050px) {
  .contact-form {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .contact-section {
    padding: 3rem 1.5rem;
  }
  .contact-section h2 {
    font-size: 1.8rem;
  }
  .contact-form {
    width: 95%; 
    margin: 0 auto;
  }
  .contact-form button {
    width: 100%;  
    text-align: center;
  }
}

@media (max-width: 475px) {
  .contact-form {
    width: 100%; 
    margin: 0 auto;
  }
}

