.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #ff8a00, #e52e71);
  color: white;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  z-index: 1000;
  box-sizing: border-box;
}

.logo {
  width: 60px;
  height: auto;
  margin-left: -25px;
}

.top {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
  margin-left: -30px;
}

.top h1 {
  font-size: 2rem;
  margin: 0;
  line-height: 40px;
}

.top p {
  font-size: 1rem;
  margin: 0;
}

nav.desktop-nav {
  display: flex;
  gap: 1rem;
}

nav.desktop-nav button {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;

}

nav.desktop-nav .c {
  color: black;
  background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.9));
  border-radius: 20px;
  margin-left: 5px;
}

.desktop-nav .c:hover {
  background: linear-gradient(135deg, #ffff00, #ff8a00);
  transform: scale(1.05); 
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: white;
  margin: 4px 0;
  border-radius: 3px;
  
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 65px;          
  right: 0;
  background: linear-gradient(135deg, #ff8a00, #e52e71);
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  flex-direction: column;
  z-index: 999;
}

.mobile-menu button {
  background: transparent;
  border: none;
  color: white;
  padding: 0.8rem 2rem;
  text-align: center;
  cursor: pointer;
}

.mobile-menu button.c {
  color: black;
  background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.9));
  border-radius: 0 0 10px 10px;
}

.mobile-menu .c:hover {
  background: linear-gradient(135deg, #ffff00, #ff8a00);
  transform: scale(1.05); 
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.mobile-menu.active {
  display: flex;
}

@media (max-width: 1200px) {
  .top h1 {
    font-size: 1.6rem;
  }
  .top p {
    font-size: 0.8rem;
  }
  
  nav.desktop-nav button {
    padding: 0px;
  }
  nav.desktop-nav .c{
    padding: 0.5rem;
    margin-right: -16px;
  }
}

@media (max-width: 768px) {
  nav.desktop-nav {
    display: none;
  }
  .hamburger {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 475px) {
  .top h1 {
    font-size: 1.2rem;
  }
  .top p {
    font-size: 0.7rem;
  }
}