.footer {
  background: #333;
  color: white;
  text-align: center;
  font-size: 0.9rem;
  width: 100%;
  height: 40px;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.footer a {
  color: #ff8a00;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #e52e71;
}

@media (max-width: 460px) {
  .footer {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    text-align: center;     
    line-height: 1.5;   
    height: 60px;    
  }
}